[2017-10-13 14:03] LTKMN opened #3 "non-urgent feature request"
@ mentions in 'tweets' (posts?) should ideally link to the profile of that person, like twitter does.

It'd be cool to follow these new people but there's no actual way of getting their profile page / dat url from merely seeing @name mentioned by someone else as plaintext.

[2017-10-13 16:25] fredhampton opened #4 "Where are the post stored"
Where are the post stored ?
When I delete a post where is the file(s) that I'am deleting located ?

Thanks for the Art !

[2017-10-13 16:41] cblgh commented on #4
in portal.json. click the beaker menu, to the right of the url bar and then
choose -> Library -> your rotonde site -> portal.json

On 13 October 2017 at 18:25, fredhampton <notifications@github.com> wrote:

[2017-10-13 17:40] noformnocontent opened #5 "handle dead/offline feeds"
[code]

[2017-10-13 18:06] #5 closed

[2017-10-13 18:10] #4 closed

[2017-10-13 18:25] lsjroberts opened #7 "This feed does not load and blocks the feed list"
dat://rotonde-edouard.hashbase.io/

When I visit it I just get a blank page and no errors in the console.

<img width="814" alt="screen shot 2017-10-13 at 20 23 06" src="https://user-images.githubusercontent.com/3817697/31560387-6130bc64-b054-11e7-900a-e47411709cfa.png">

And if I have this in my `portal.json` the whole feed list does not render.

[2017-10-13 18:29] neauoire commented on #7
Yeah, people shouldn't share their hashbase URLs, I don't understand why people don't give out their actual hash instead.. Don't add hashbase to your portals, ask the person their actual hash instead.

[2017-10-13 18:34] pfrazee commented on #7
Hashbase URLs (or any url with a shortname) should work just fine, right?

[2017-10-13 18:34] lsjroberts opened #8 "Load the feeds in parallel"
Rather than having the feeds load serially and block on each feed (https://github.com/Rotonde/beaker/blob/master/scripts/feed.js#L44), it might be a nicer experience to instead have them run in parallel.

As each feed resolves merge it into the list. It might require a bit of subtle animation as items are inserted to avoid content jumping too much. Or perhaps if a new one loads after the first 3 s

[2017-10-13 18:36] neauoire commented on #8
That's what I would like, but I don't know how :)
I would be really happy if you could handle it, if only so I can learn from it.
cheers!

[2017-10-13 18:37] neauoire commented on #7
Well, hashbase has been really slow, for one thing. Also, if we really want to be decentralized, I would prefer people to start building peer networks instead of relying on hashbase hosting.

[2017-10-13 18:39] pfrazee commented on #7
That's fair. (And yeah it's not as fast as it should be.)

[2017-10-13 18:40] lsjroberts commented on #7
That makes sense. Though just in case it is not related to hashbase, it is worth noting other hashbase ones I follow do load correctly.

[2017-10-13 18:41] lsjroberts commented on #8
Sure thing!

[2017-10-13 18:49] siiiick opened #9 "Putting my dat url in the input duplicates all posts"
I was attempting to put a dat url into the input but it doubled all my posts. Even if I delete them, all future posts are doubled.

reference: dat://a947b0c0ba330763257208f14f40b0779b0dfc4bcf0fa4a49232abc6326b9326/

As you can see it says there are 4 entries, however there are currently 8.

[2017-10-13 18:51] neauoire commented on #9
Haha, yeah I've had that happen to me. I'll fix this now, can you just edit portal.json and remove yourself from the port=[] array :)? I'll get on that right away.

[2017-10-13 18:54] tttimur commented on #9
okay!

thanks

[2017-10-13 19:02] neauoire commented on #7
@pfrazee Is there a way to check if you own/have writing access on a site?

[2017-10-13 19:06] pfrazee commented on #7
@neauoire yeah getInfo() should include `isOwner` in its response. https://beakerbrowser.com/docs/apis/dat.html#getinfo

[2017-10-13 19:18] lsjroberts opened #10 "Add `portal.json` to `.gitignore`"
When I pull your changes it causes conflicts with the ones I'm making. It would be good to add a `.gitignore` with:

[code]

And then instead of modifying it in a few steps for new users onboarding, it could auto create a blank one if it does not exist. Perhaps with some default values like:

[code]

Though this sort of thing does sound like it'll be improved by the [App Scheme](https://github.com

[2017-10-13 19:24] neauoire commented on #10
Yes! haha I've been wondering how to do this. It's a bit strange that everyone has my feed by default..

[2017-10-13 19:26] neauoire commented on #7
Perfect! I missed that part. Works beautifully.

[2017-10-13 19:27] neauoire commented on #9
Fixed :) Pull the latest version(keep your portal.json somewhere), and that problem should be gone!

[2017-10-13 19:27] #9 closed

[2017-10-13 21:14] #8 closed

[2017-10-13 21:15] lsjroberts commented on #7
The block this causes is fixed by #11, but the underlying issue still remains.

[2017-10-13 22:00] lsjroberts commented on #3
This commit fixes it when the message starts with the @ mention - https://github.com/Rotonde/beaker/commit/bf6cd7552f1e90a2ac949354e310c856d5ca05a1

Though it may be good to do a find-replace for any @ mention.

[2017-10-13 22:01] #10 closed

[2017-10-13 22:15] lsjroberts opened #13 "Adding a dat twice deletes it"
From this commit https://github.com/Rotonde/beaker/commit/1cd703a41aa8dcdd96a034e05c3a298b245fd42c

Is this the intended behaviour? If I'm not sure if I have added someone I might enter in their dat url again. It seems it would be better to just skip it and not duplicate the entry.

Though it would be good to have a button or some other clear way to unfollow someone.

[2017-10-13 22:39] ianh opened #14 "When there is a single entry, "entry" ought to be singular."
It's a small thing, but right now it says "1 entries" instead of "1 entry" if you have a single entry.

[2017-10-13 23:26] neauoire commented on #13
Yeah, I'm working on listing all the portals on the left side bar atm, give me a few minutes and it should be resolved. I'll then make it skip the duplicates.

[2017-10-13 23:29] neauoire commented on #14
Fixed by @roxaloxa

[2017-10-13 23:29] #14 closed

[2017-10-14 00:08] neauoire commented on #13
Fixed :)

[2017-10-14 00:08] #13 closed

[2017-10-14 01:00] lsjroberts opened #18 "My portal.json and dat.json got deleted!"
Sorry I made a mistake in #12!

I used `git rm --cached portal.json` when I should have used `git update-index --skip-worktree portal.json` (https://stackoverflow.com/a/40272289).

If you pull you'll lose yours too. Gimme a moment to fix it.

[2017-10-14 01:13] #18 closed

[2017-10-14 02:52] roxaloxa opened #21 "List of portals doesn't always show everyone"
Correct me if I'm wrong, but it would seem that the list of portals in the sidebar only shows portals that are currently alive/seeded. This isn't great if you're trying to unfollow or confirm whether you are following someone currently offline.

Maybe the local list of ports in `portal.json` also stores the last known name of the person? Then you could show the full list 100% of the time. Maybe th

[2017-10-14 03:15] neauoire commented on #21
!! You're right !!
My bad, gonna fix that.

[2017-10-14 05:27] roxaloxa opened #24 "Discussion: Common social network features"
I thought it'd be interesting to have a place to talk about common social network features, what they mean for Rotonde, and how they'd even be possible in this environment.

For example, there's a list of the portals you are following. What about the list of portals following you? That's great for discovery and understanding your social circle, but how does that kind of reverse look-up happen in t

[2017-10-14 05:29] neauoire commented on #24
There is no reverse lookup at the moment, or notification from unfollowed portals. I'm kind of on the fence on this, it wouldn't be too hard to implement, but at the same time we open the door to abuse and the need for moderation tools.

[2017-10-14 05:36] roxaloxa commented on #24
Well, where do you see Rotonde going? Maybe it's worth it to start figuring out what can be done against abuse and make it foundational to the platform.

[2017-10-14 05:40] neauoire commented on #24
I like non-intrusive discussion. I would love it if the public conversation/notification loop only existed around #hashtag starting entries.

[2017-10-14 05:57] roxaloxa opened #25 "Single quotes break timestamp edit shortcut"
If you click the timestamp on your own message that has a single quote in it like `look at me, i'm gonna break!`, then the command prompt will prefill with something like `edit:10 look at me, i` and truncate after the single quote.

<img width="516" alt="screen shot 2017-10-13 at 10 57 07 pm" src="https://user-images.githubusercontent.com/556484/31573115-df045014-b069-11e7-9bfc-bc1dd4fd919d.png">

[2017-10-14 10:10] sknebel commented on #24
How would you implement a "who's following me" lookup here? I might be missing some feature of dat, but I can't think of an easy way to send a notification about this *to* a dat?

[2017-10-14 12:37] noformnocontent opened #27 "post-IDs to make threaded discussions possible?"
i propose adding `id` to the `feed` array, which will be calculated by hash of initial message + timestamp

[2017-10-14 14:05] lsjroberts opened #28 "Beaker occasionally crashes with ~50 portals"
I've added 51 user's dats and occasionally Beaker crashes. I'm not sure if this is a bug in Beaker or Rotonde.

@pfrazee thoughts? Should it be able to handle this many connections? I have noticed some general slowdown in hitting other unrelated dat urls after visiting my rotonde.

[2017-10-14 15:11] pfrazee commented on #28
Known issue, unfortunately. There's a race condition in electron's handling of custom protocols.

Beaker issue: https://github.com/beakerbrowser/beaker/issues/474
Electron issue: https://github.com/electron/electron/issues/9342

It'll be fixed by 0.8's official release.

[2017-10-14 15:59] ianh commented on #24
Personally, I like not having a list of who's following me.  It's too easy to get stressed about follower counts on Twitter.

[2017-10-14 16:04] pfrazee commented on #24
I've got some thoughts on solutions for this, plus a few things I want to mention.

### about tooling

We're developing some higher level APIs to help with this kind of work. The first is [IngestDB](https://github.com/beakerbrowser/ingestdb), which abstracts over the filesystem. It stores data as files in Dats, but adds indexing so you can run queries like `listPosts()`. Take a look at [beaker-pro

[2017-10-14 17:32] neauoire commented on #28
Is the trick to limit the number of profiles we follow? @lsjroberts, do you think that if all users has the latest build the crashes would stop?

[2017-10-14 17:34] pfrazee commented on #28
Having more content basically increases the odds of hitting the race condition. It's the kind of bug which I like to call, "a total f*ing bummer"

[2017-10-14 17:38] lsjroberts commented on #28
This PR #29 does seem to have made it less likely to crash on my own profile. It only affects the rendering not fetching any data, but I would guess it doesn't help having the dom keep splatting over itself 50 times in a few milliseconds while doing requests. But I don't really know enough about that side of things.

[2017-10-14 17:42] pfrazee commented on #28
Yes reducing rendering would improve it. The race condition occurs when you
use the `dat://` protocol, during navigation or via embeds

On Sat, Oct 14, 2017 at 12:38 PM, Laurence Roberts <notifications@github.com

[2017-10-14 17:45] lsjroberts commented on #28
Ah interesting. I'll bear that in mind.

[2017-10-14 18:25] roxaloxa commented on #25
I saw your comment @neauoire about fixing this. I tested:

<img width="519" alt="screen shot 2017-10-14 at 11 23 39 am" src="https://user-images.githubusercontent.com/556484/31578256-438bb4d8-b0d2-11e7-8d79-e44424819901.png">

Looks like it removes apostrophes from the message, is that intended?

[2017-10-14 18:26] neauoire commented on #25
It's.. an improvement.

[2017-10-14 18:26] neauoire commented on #25
I'll try to make the htmlescape work.

[2017-10-14 18:27] neauoire commented on #28
It's a lot more stable for me now!

[2017-10-14 18:28] roxaloxa commented on #25
What about the data-operation field just having like "edit:7" in it and when you click, it pulls the message itself from the local data after parsing the ID out?

Sticking the whole message in the attribute is kinda unwieldy

[2017-10-14 18:30] neauoire commented on #24
@ianh I'm the same, it feels healthier not to run after this sort of ticking number. It inevitably forms biases over people. We could remain an entirely organically formed neighbourhood, where we only know the happenings of our immediate network.

I've been thinking about a sort of "discovery" feed, where we could crawl for 2nd and 3rd level portals, so you portals' portals and their portals. It m

[2017-10-14 18:30] neauoire commented on #7
I think we could close this one.

[2017-10-14 18:32] neauoire commented on #3
This is working, any @ in your know network will be replaced :)

[2017-10-14 18:32] #3 closed

[2017-10-14 18:33] roxaloxa commented on #24
@neauoire @ianh that's a really interesting way of looking at it.

I wonder if what Rotonde needs is a sort of manifesto to better understand what a feature roadmap actually looks like. It's so easy to be like "well Twitter has X, so Rotonde needs it too" but obviously that's a bad path to go down blindfolded.

[2017-10-14 18:37] neauoire commented on #24
That might be worth it, code-wise, I like that we're not relying on external frontend libraries, that avatars are forced vectors, I think this inspires experimentation and creativity(and animated avatars!!). I think we should limit the portals number to 150 to keep it under Dunbar's Number, going over this dehumanizes the network.

[2017-10-14 18:41] neauoire commented on #24
@sknebel no you're right, looking into it deeper, it turns out I overlooked a few things, especially now that we're reaching people with 50-60 portals and crashing, my idea would NOT have scaled too well.

[2017-10-14 18:59] lsjroberts commented on #7
Yep both the causes are fixed I believe.

[2017-10-14 18:59] #7 closed

[2017-10-14 19:01] lsjroberts commented on #7
Well, I mean an invalid portal.json will cause this still but we can open a new issue to chat error messages and things later.

[2017-10-14 19:10] lsjroberts commented on #24
@pfrazee Interesting stuff.

The only downside with a crawler is that you in a way lose control of your own data right? The crawler takes it and stores it in it's own database. Personally, I'm not too worried about that for my own data, but it feels a little like it might run counter to some of the user's expectations. Unless it was limited to just posts with hashtags for example. Or even provide

[2017-10-14 19:13] roxaloxa opened #31 "@mention inconsistencies"
So in this example, `@jimpick`'s name is linked up in the message but `@flame`'s is not. I follow jimpick and I do not follow flame. However, the `neauoire > [user]` part is linked up appropriately for both.

<img width="515" alt="screen shot 2017-10-14 at 12 09 08 pm" src="https://user-images.githubusercontent.com/556484/31578559-8b7b1f8a-b0d8-11e7-938d-2df6bb6697d2.png">

Shouldn't `@flame` in t

[2017-10-14 19:22] roxaloxa commented on #31
@neauoire I see now in #3 that you commented about mentions in your known network will be linked. There's an interesting methodology here about disabling others from revealing your dat URL if you don't want to be in their network... but it's currently half-way in between two thoughts because the URL _is_ revealed in the `[user] > [user]`  reply link.

[2017-10-14 19:28] neauoire commented on #31
Yeah, I did this by design. I kind of link entries to be aimed at one person at a time, it can be both a reply, or a sort of "hey look at this person!". On twitter for instance, if you start a tweet with a mention it flags it as a convo.

In the message body, only your known network is highlighted, which I think is at least an indicator wether you know this person or not, despite it being mentione

[2017-10-14 19:29] neauoire commented on #24
@lsjroberts Likewise for the webDB API, but if I understood correctly, it's not out yet, but will be included in 0.8

[2017-10-14 19:38] roxaloxa commented on #31
Maybe all usernames are clickable, but those in your network get an extra class on them to be styled differently via CSS?

Depends on if you wanna push something bigger here about user privacy/ownership. Maybe I don't want other people finding my URL, maybe I only give it to people I trust.

[2017-10-14 19:47] lsjroberts commented on #27
I think an id would be unnecessary as we could just use the index of the message in the user's feed array. In the same way we do for the `edit:12 message` command.

But threaded discussions would definitely be cool. Or perhaps even just a `reply` button & command that makes your message link back to the original. Not necessarily like twitter's threads as those a bit of a UX nightmare.

[2017-10-14 19:52] pfrazee commented on #24
@lsjroberts The crawler should just be copying your data and putting it in a view. But, the person who runs the crawler will set the rules for what goes in the view, so, there is that. Foaf or a discovery feed are both good options too.

@neauoire correct, we'll try to get a pre-release in yalls hands before december

[2017-10-14 19:57] roxaloxa commented on #24
I understand the argument against seeing who follows you, but I feel there is currently a very undesirable problem where we are encouraging conversations with things like @ mentions but there is zero way to actually see them if the follow isn't mutual. Even with the FOAF/discovery feed, if a new person who is entirely disconnected from any existing social circle tries to join in a conversation, th

[2017-10-14 23:37] ghost commented on #27
as of rn entire "DB" is an array of objects. which are only stored in a text file.
- if i `delete:0` the numeration of the rest of the posts will shift by one
- if i swap two items (by editing the json file) - the thread will be corrupted

but if we have a hash generated from content itself (the very same `dat://` for example) -- you can prove the thing you replied to, has changed.

im not making

[2017-10-15 11:57] frozenpandaman commented on #28
Not sure if this is a separate issue or not, but Beaker Browser is crashing for me (Mac OS X 10.11) constantly when I'm following certain users' portals/profiles (e.g. @tha_rami's) and when navigating to my own home portal (Menu > Library > Rotonde, or manually navigating to my own dat URL). I can see the text "Fetching 5 feeds…" underneath the command box for a split second after which a crash (9

[2017-10-15 11:59] frozenpandaman opened #37 "Raw dat URLs (not portal names) sometimes appear in the sidebar"
e.g.
![screen shot 2017-10-15 at 04 56 59](https://user-images.githubusercontent.com/7245874/31584556-63e808d8-b165-11e7-84c6-f03f7c81871d.png)

[2017-10-15 12:36] frozenpandaman commented on #37
…and sometimes this happens (zoomed out)
![image](https://user-images.githubusercontent.com/7245874/31584808-ca845038-b16a-11e7-98df-7ff37a2ba21f.png)

[2017-10-15 16:36] Capital-EX opened #38 "Git Still Tracks Files in the .gitignore"
I've notice that git is still tracking the changes made for files listed in the .gitignore.  Since `dat.json`, `portal.json`, `links/custom.css`, `media/content/icon.svg` have previously been committed to the repo their change will continue to be tracked.

The fallowing command will cause those files to be 'forgotten' without removing them:
`git update-index --assume-unchanged links/custom.css med

[2017-10-15 17:08] cblgh commented on #38
ah yes, i wrote that in a [commit comment](https://github.com/Rotonde/beaker/commit/ce191092c06f428eb9681091f6bbc6b5c229d2d4) but it should probably be made more prominent, thanks!

[2017-10-15 17:08] #38 closed

[2017-10-15 18:17] lsjroberts commented on #37
The raw ones I think are when they are offline and the real name can't be retrieved.

However I have also just seen it go a little weird and flash names and raw dats in and out. I'll take a look tomorrow.

[2017-10-15 18:21] lsjroberts commented on #28
@frozenpandaman Definitely sounds related, I'll take a look and see if I can spot some points to optimise. Sounds like there may not be too much we can do until Beaker 0.8 is out though.

[2017-10-15 19:21] neauoire commented on #37
I think it's because I append to the html.
I'm sure you'll find a better way to do this.

[2017-10-15 22:49] cblgh opened #39 "fix parsing on @names, dat:// urls"
i just noticed that we have an issue where if i write `@neauoire's boat is cool` the `'s` will cause the parser to fail to recognize the name.

there's a similar case with mentioning a dat in a parens as in `(dat://ab64573efd68035014d94b83bf034012f415ff4678d3ecf291237e0bdac741b1)`
where the beginning parens will cause the parser to fail to recognize the dat link, and if recognized then the last pa

[2017-10-16 00:55] emhoracek opened #40 "possible to follow someone twice -- then, can't unfollow"
I accidentally added a user twice. Now her username shows up twice in my nav and each of her posts also shows up twice. Using `undat` doesn't do anything.

[2017-10-16 01:00] neauoire commented on #40
I will look into it! I might know what is happening here, in the meantime, find the hash in your portal.json file with a text editor and remove the duplicate :) I will make sure that this does not happen again right away.

[2017-10-16 02:04] webdesserts opened #41 "Suggestion: Move core logic into seperate Archive"
One issue that has become apparent with the current version of the beaker site (unless I'm missing something) is that users don't automatically get updates for the core scripts and styles. I think this will be important for the ux for non-devs, so I suggest the following: **split rotonde into two archives**.

1. **The User Portal** which would just be the `index.html`, `media/content` and the `lin

[2017-10-16 02:06] neauoire commented on #41
Hey ! that's exactly what @cblgh and I were discussing today! I've migrated my current setup to this new flow. I will try and announce this new setup tomorrow :)

[2017-10-16 02:10] webdesserts commented on #41
Haha, well then I guess I didn't need to put that example together. Glad I don't need to do any convincing though 👍. Good to hear.

[2017-10-16 02:10] neauoire commented on #41
I just shared this really clear description on Twitter, so we'll keep this open until it's fully deployed :) Thanks for putting this together.

[2017-10-16 02:14] neauoire opened #42 "Feeds are being overwritten faster than images have time to load."
When you have multiple feeds, the feed gets replaced too fast for images to fully load, so they constantly load halfway before the html gets wiped out and then the download starts over. I'm putting this here in case someone want to tackle a way to make the feed more persistent in term of HTML.

[2017-10-16 02:30] roxaloxa commented on #41
Holy hell this is an extremely cool way to do this!

[2017-10-16 02:37] frozenpandaman commented on #39
Same if you have a @username with a period or comma after it.

[2017-10-16 03:42] frozenpandaman commented on #39
OK, here's a quick fix for dealing with single punctuation marks after usernames:

Insert
[code]
after line 101 of `scripts/entry.js`. And then add a `+ wordend` at the end (inside the parens of course) of the newly-numbered lines 105 and 108. It will then link to their portal:
![image](https://user-images.githubusercontent.com/7245874/31594314-06360bca-b1e9-11e7-9be7-7abea59f8ed0.png)

This defin

[2017-10-16 07:49] ghost commented on #40
@neauoire use `Set` instead of `Array` to keep the list of datURLs unique

[2017-10-16 07:55] soyuka opened #44 "Are you storing feeds in a single JSON file?"
I looked at the code and it looks like the feeds are stored in the `portal.json` file. Won't it get really slow parsing a single file once feeds starts to grow?

@pfrazee started to work on a dat shared indexed db: https://github.com/beakerbrowser/ingestdb Maybe it's worth the look as this looks like a perfect use case.

[2017-10-16 07:56] neauoire commented on #44
We'll migrate to ingest for sure. This is only temporary, while Rotonde has a bit of traffic at the moment, we're still running on a proof-of-concept code created in an afternoon.

[2017-10-16 08:02] soyuka commented on #44
Sure thing! Feel free to close the issue in you find in non-relevant :).

[2017-10-16 08:18] frozenpandaman commented on #41
Yeah, huge fan of this implementation as well… looking forward to seeing this in the future!

[2017-10-16 10:17] ljcooke opened #46 "Bug: Endless portal list"
If you leave the site open for a while, the list of portals grows endlessly as duplicates are added.

This is especially noticeable if you make the list scrollable, e.g. by adding the following to custom.css:

[code]

[2017-10-16 10:21] lsjroberts commented on #41
Great idea!

[2017-10-16 10:22] lsjroberts commented on #46
Related to #37, but not duplicate

[2017-10-16 10:24] lsjroberts commented on #44
Closing, we can open a new one to discuss the ingest implementation in the future.

[2017-10-16 10:24] #44 closed

[2017-10-16 10:26] lsjroberts commented on #27
That's a very good point. We'll look into it.

[2017-10-16 10:28] lsjroberts commented on #21
@neauoire This has been done now right? Excepting the #37 and #46 bugs.

[2017-10-16 10:40] cblgh opened #47 "add tab-complete to @names"
this should make it easier to mention people and also reduce typos **\*coughs\***

[2017-10-16 11:00] lsjroberts opened #48 "Suggestions for a healthy codebase"
It's great seeing so many people contribute to the project, and it's refreshing for me to work on something without all the burden of external frameworks and dependencies. But I think there are a few things we could do to make it easier to maintain and to help new folks get involved (from a code point of view).

It may feel a little early to start looking at this stuff, but it's easier to adjust n

[2017-10-16 11:22] lsjroberts opened #49 "Code of conduct etc"
While this is a pretty nascent project, it seems sensible to me to put in place things like a code of conduct from the outset.

_Contributor note: all these can be done here https://github.com/Rotonde/beaker/community_

## Code of conduct

Github recommends the [Contributor Covenant](https://www.contributor-covenant.org/version/1/4/code-of-conduct.html). I have no qualms with it if no-one else doe

[2017-10-16 11:45] lsjroberts commented on #24
For reference, aeon made a FOAF thing here dat://7916f98af2cb7f6247fe8c234af0ab3134f8a8f61ccb09648d1c7e30db1db03b/

[2017-10-16 11:58] cblgh commented on #41
one cool thing that came up in a discussion between @louiscenter & @pfrazee in #beakerbrowser on freenode when i first posted was the use of beaker's versions.

so you could do something like **dat://h3h31337...7331+149_** to keep your portal locked to version 149 (where presumable everything was working just like you wanted it to).

using this idea we could implement a command into the rotonde op

[2017-10-16 13:28] maxdeviant commented on #48
@lsjroberts I 100% agree about using Prettier.

I was thinking about the prospect of using React for this as well, especially after seeing #42 and #46. I think the main concern is keeping it accessible for newcomers. I think if we can get React plugged in without needing a build system, then it would be a viable option.

The other alternative would be to have multiple example projects using variou

[2017-10-16 13:50] lsjroberts commented on #48
Yeah the build stuff is what I want to avoid.

We could use raw react instead of jsx:

[code]

The downside is that is still ~160kb of extra stuff. (About ~50kb gzipped if Beaker does that?)

It does also have some pretty handy error handling stuff we can use in React 16.

But still, it may be sensible to see how far we can get with just standard dom apis. A couple of helper functions should reduc

[2017-10-16 14:32] emhoracek commented on #40
@neauoire no hurry! Thanks for the tip!

[2017-10-16 17:20] lsjroberts opened #51 "New messages after the initial load should be collapsed"
Similar to how twitter does it at the top of their feed. Though we'll need to do it in the correct spot when anything new comes in, which might be tricky.

I'll do some experiments locally and post gifs in here.

[2017-10-16 18:03] neauoire commented on #48
I'd prefer if we did not use libraries, although, we could make a secondary repo with a React client. I know @joperron was working on something along these lines the other night.

[2017-10-16 18:08] neauoire commented on #37
The latest version still has this issue, I can't figure it out. If someone wanna give a shot at tackling this, be my guest :)

[2017-10-16 18:33] lsjroberts commented on #48
@neauoire Agreed. We should be able to do it without them.

[2017-10-16 18:54] maxdeviant commented on #48
@neauoire Wait until you see what I have up my sleeve for Rotonde :crystal_ball:

[2017-10-16 21:06] cblgh commented on #49
added in #50

[2017-10-16 21:17] lsjroberts commented on #49
There's more than just the code of conduct here :)

[2017-10-16 21:24] cblgh commented on #49
they call me speedy gonzales you know, my bad!

[2017-10-16 21:29] ghost commented on #41
keep core versions in folders like every package manager does.

`dat://<rotonde_core_base or ur_own_mirror>/149/[scripts,links]`

and
`dat://<rotonde_core_base or ur_own_mirror>/stable/[scripts,links]`
`dat://<rotonde_core_base or ur_own_mirror>/testing/[scripts,links]`
which will link to the latest of those kinds

[2017-10-16 21:31] ghost commented on #27
also, im not sure if this repo or the https://github.com/Rotonde/Specs is the one to have this issue in?

also also, there is a [`json feed`](https://jsonfeed.org/version/1) ([on github](https://github.com/brentsimmons/JSONFeed/blob/master/pages/version/1.markdown)), which is very similar to the `feed` array in `portal.json`

except the missing `target` (reply_to) field, which could be simply adde

[2017-10-16 22:16] neauoire commented on #48
I'm excited to see!

[2017-10-16 22:43] neauoire commented on #51
I know exactly what you mean, instead maybe we can just show new messages automatically with a different css class or something? I like of like that it can idle in the background and I can see new messages without having to click anything. Thoughts?

[2017-10-16 22:44] pfrazee opened #55 "createFileActivityStream is called way more than needed"
I was debugging why Beaker was telling me about too many event emitters registered when I visit Rotonde. We may have a leak, but I found that `createFileActivityStream` is being run more than once (much much more than once) for each feed. It should only ever happen one time per feed, and then you should hold on to that reference.

https://github.com/Rotonde/beaker/blob/6590f0f2671db90033d09c8170e3

[2017-10-16 22:46] neauoire commented on #55
Oh, yeah I re-set it on every refresh. I will fix that up!

[2017-10-16 22:52] neauoire commented on #49
This is outside my area of expertise a little bit, but I usually go with CC. Wasn't there a lot of drama with MIT involving React? I failed to understand what that was about but Rotonde should pretty much be as close as possible to GNU, like do what thou will. I'm open to anything really, as long as it lets people feel confident that nobody will go after them, that we always make sure that 100% of

[2017-10-16 23:09] #39 closed

[2017-10-16 23:09] #47 closed

[2017-10-16 23:14] neauoire commented on #55
Fixed in https://github.com/Rotonde/beaker/commit/38e6e120ef1257bd64eb442f08fa1da3766d5e03

[2017-10-16 23:18] neauoire commented on #39
This was just fixed by @cblgh, can anyone double check that it works for all cases?

[2017-10-16 23:21] pfrazee commented on #55
👍

[2017-10-17 00:53] joperron commented on #48
We can probably use [Preact ](https://github.com/developit/preact) for this. The overhead in terms of tooling is pretty hefty but once built it's pretty lean and I think the pros outweigh the cons. Will look into it next weekend!

[2017-10-17 01:07] webdesserts commented on #49
@neauoire the drama with react was that they used a custom license with a patent clause in it. They eventually settled on MIT after WordPress and others said they would stop using React due to the patent clause. So it wasn't really an issue with MIT, MIT was the solution to the issue. That said I know nothing about licenses 🙃

[2017-10-17 01:45] frozenpandaman opened #61 "Images break on spaces in filename"
Drag in or manually link (with `>>`) file named `Screen Shot.png`.

Upon pressing enter to send, the image linked in the post is broken, trying to load `media/content/Screen.jpg`. It seems .jpg extension is defaulted to/assumed since the filename breaks on the space.

(When using drag-and-drop, the image file with its full/with-spaces filename is still copied to the `media/content/` directory.)

[2017-10-17 01:49] neauoire commented on #49
Thanks for the clarification :)
Let's go with MIT!

[2017-10-17 01:56] frozenpandaman commented on #39
@neauoire Seems to work with all regular punctuation as long as there's a space (or nothing, i.e. at the start of the message) directly preceding the username.

![image](https://user-images.githubusercontent.com/7245874/31643098-73e866da-b2a3-11e7-9c47-0ef8b53ae002.png)

[2017-10-17 02:01] roxaloxa opened #62 "Rotonde with broken index.html?"
I just pulled latest and Rotonde doesn't load. Also `index.html` looks completely broken?

The changes made in https://github.com/Rotonde/beaker/commit/ea4224f33cde4a428877a96e542840bd6a462451 seem janked up.

[2017-10-17 02:04] frozenpandaman commented on #62
Recent commits (adding in Prettier) broke it for me as well.

Fixed by reverting to 7781521 (8dfd50e would've also been safe) for now. Had to manually back up and restore my `dat.json`, `portal.json`, and `links/custom.css`.

[2017-10-17 02:17] neauoire commented on #62
Oh my god, I'm so sorry. I was a bit too trusting, I merged @maxdeviant's PR without testing, it did indeed break everything for me as well. Reverted back to a working repo :) Sorry.

[2017-10-17 02:17] #62 closed

[2017-10-17 02:18] frozenpandaman commented on #62
You're good! Thanks for the quick fix. 😊

[2017-10-17 02:22] maxdeviant commented on #62
@neauoire Does Beaker show errors in the console? Trying to debug what the issue is, but not seeing any errors.

[2017-10-17 02:23] neauoire commented on #62
No errors here, nothing shows up, it doesn't even seem to be parsing the index file has html.

[2017-10-17 02:25] roxaloxa commented on #62
What's the best way to rollback now? `git pull` is still saying I'm already up to date and I'm not the most git knowledgeable. 😅

[2017-10-17 02:28] neauoire commented on #62
Oh ho! did I break the tree for everyone!?
What a fiasco...

[2017-10-17 02:29] maxdeviant commented on #62
@neauoire There's a fixed PR in #63.

[2017-10-17 03:09] MoreThanLuck opened #64 "Refresh Feed"
Would it be possible to add a way for the feed to pull new posts automatically? That way you don't have to refresh to get new posts, which is frustrating if you're getting occasional crashes like I am.

[2017-10-17 03:12] MoreThanLuck opened #65 "Mentions-ish?"
I swear I don't want to add in notifications. Buuuuut– If we're going to have ways for other users to mention you, we should have a way for users to find the post mentioning them, for instance if someone mentions you while you're offline.

[2017-10-17 03:14] ian-battaglia commented on #65
I wonder what the most elegant way of instituting this into the existing UI is, without adding a new element. Maybe adding a <hr> between your AVI and name?

[2017-10-17 03:16] neauoire commented on #65
Have you looked at the filter command? You can quickly locate your mentions, or someone else', with `filter @name`.

[2017-10-17 03:20] ian-battaglia commented on #65
I honestly forgot that was an option. Yeah, that probably serves the purpose. It still might be nice to have a button or function to autofill the bar with that info for dummies like me.

[2017-10-17 04:05] frozenpandaman commented on #64
related to #51

[2017-10-17 04:06] ian-battaglia commented on #64
True.

[2017-10-17 05:02] ianh commented on #37
I think 6f35221 fixes this.  Try updating and see if it still happens.

[2017-10-17 05:50] crteal opened #68 "Consider declaring character set in `index.html`"
It is recommended to declare a character set in HTML5 documents, and that this character set is UTF-8. Adding the appropriate `meta` tag to `index.html` would suffice.

[2017-10-17 06:02] jimpick opened #70 "Handle mime type of image/jpeg for drag and drop"
When attempting to drag-and-drop a .jpg file on my MacBook, it wasn't working because it was reporting a mime type of image/jpeg ... but only image/jpg is accepted in the code. I'll submit a PR.

[2017-10-17 06:06] #70 closed

[2017-10-17 06:23] #68 closed

[2017-10-17 06:36] ruby0x1 commented on #65
I thought clicking the name but that's edit:name, and clicking your handle in an entry was better used for something else (see below), I haven't had an idea for mentions yet

Not for mentions but one other thing that's related is viewing your entries or entries of a user.  My thought was clicking on YOUR handle on YOUR page filters to only your entries. This could be true for all pages.

View my p

[2017-10-17 06:58] neauoire commented on #65
Good idea! I made it so if the username is the default username, it suggests an edit, otherwise autocompletes for filter.
Implemented in [client](https://github.com/Rotonde/client)

[2017-10-17 07:00] ruby0x1 commented on #65
sounds good to me

[2017-10-17 08:36] lsjroberts commented on #49
MIT is good. Creative Commons recommends against using their licenses for software as that is not what they were intended for (last I checked).

The React issue is interesting as now there is technically less protection for anyone using React. But it's all a bit opaque and untested.

[2017-10-17 08:36] lsjroberts commented on #51
Yeah, so long as there is some motion to them appearing instead of just suddenly being there it should be ok. A quick expansion animation should work.

[2017-10-17 08:38] lsjroberts commented on #64
Closing as duplicate.

[2017-10-17 08:38] #64 closed

[2017-10-17 10:02] frozenpandaman commented on #49
Agreed, MIT is nice and permissive. I also like GPL, very similar but disallows projects leveraging/using the code in commercial or proprietary ways, etc. So it sort of forces the open-ness on all derivative works. :) Depends on your philosophy/aim though, of course.

We'll want to add the code of conduct & license to the new client and user repos as well at some point.

[2017-10-17 19:02] Karuji opened #74 "Timestamp showing incorrect text"
I'm not quite sure what's happened, but the timestamp for the post is showing with text from the post

<img width="676" alt="homepage" src="https://user-images.githubusercontent.com/872798/31683822-3dad127e-b37e-11e7-9a61-e1ddbef9c9eb.png">

<img width="915" alt="portal.json" src="https://user-images.githubusercontent.com/872798/31683836-4763d9ce-b37e-11e7-8cbc-467a74d6590c.png">

[2017-10-17 19:07] Karuji commented on #31
Not sure if it's related, but I noticed in a post that had been edited it lost the [user] > [user] at the top despite the post still being between those users.

[2017-10-17 20:19] frozenpandaman commented on #37
I think this is fixed. Thanks @ianh. If I find this is still a issue with the new build (separate client and user) I'll reopen another issue over at https://github.com/Rotonde/rotonde-client.

[2017-10-17 20:19] #37 closed

[2017-10-18 12:15] cblgh commented on #48
yeah so just to be clear the [rotonde-portal](https://github.com/Rotonde/rotonde-portal) & [rotonde-client](https://github.com/Rotonde/rotonde-client) repos will likely never have any libraries, but a rotonde-portal-preact could be a separate thing and very welcome indeed!

_(personally i might build something using [choo](https://github.com/choojs/choo) :3 - we'll see!)_

[2017-10-18 12:43] maxdeviant commented on #48
@cblgh I think that's the best approach to take.

Let a thousand flowers bloom :rose:

[2017-10-20 06:24] frozenpandaman commented on #61
"moving" this issue to the repo in active development

[2017-10-20 06:24] #61 closed

[2017-10-20 06:32] webdesserts commented on #48
I think web components might be a good fit for the Rotonde view layer. Wouldn’t require any third party libraries.

[2017-10-20 15:26] #27 closed